@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap");
* {
  margin: 0;
  scroll-behavior: smooth;
  cursor: url("../assets/elements/cursor-bahamut.cur") 32 32, auto; }

::-webkit-scrollbar {
  background-color: var(--thema);
  width: 5px; }

::selection {
  background-color: var(--thema); }

body {
  background-color: var(--thema-white); }

.header {
  height: 15vh;
  box-sizing: border-box;
  display: flex;
  background-color: var(--thema-lightest);
  background-image: url("../assets/textures/classy-fabric.png");
  background-blend-mode: color-burn;
  opacity: 0.86; }
  .header .logo, .header .zoneTitle {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center; }
  .header .logo {
    width: 10%;
    display: flex; }
    .header .logo .myLogo {
      margin: auto;
      width: 96px;
      height: 96px;
      background-color: var(--thema);
      border: 8px solid var(--thema-white);
      box-sizing: border-box; }
  .header .zoneTitle {
    width: 50%;
    font-size: 2.4rem;
    font-family: var(--font-spectral);
    font-weight: normal;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: -0.06rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.084rem;
    pointer-events: none;
    opacity: 0.84;
    background-image: url("../assets/elements/logo-title.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .header .zoneTitle span {
      color: var(--thema-darkest); }
      .header .zoneTitle span::first-letter {
        font-size: 4.6rem;
        -webkit-text-stroke-width: initial !important;
        -webkit-text-fill-color: var(--thema-darkest); }
      .header .zoneTitle span:nth-child(1)::after {
        content: 'développeur web';
        font-size: 1.24rem;
        position: absolute;
        top: 5.6rem;
        margin-left: 2.4rem;
        color: var(--thema-darkest);
        font-weight: bolder;
        letter-spacing: 0.025rem;
        -webkit-text-fill-color: initial;
        -webkit-text-stroke-width: initial; }
      .header .zoneTitle span:nth-child(3)::first-letter {
        font-size: 4rem !important; }
  .header .menu {
    width: 50%;
    display: flex; }
    .header .menu ul {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      list-style-type: none; }
      .header .menu ul li {
        box-sizing: border-box;
        height: 100%; }
        .header .menu ul li .active {
          border-left: 10px solid var(--thema-white);
          border-right: 10px solid var(--thema-white);
          background-color: var(--thema-white);
          color: var(--thema-darker); }
        .header .menu ul li a {
          display: flex;
          font-family: var(--font-contrail);
          text-transform: uppercase;
          font-size: 1.16rem;
          letter-spacing: 0.05rem;
          align-items: center;
          justify-content: center;
          color: var(--thema-darkest);
          text-decoration: none;
          width: 148px;
          height: 100%;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          transition: 0.5s; }
          .header .menu ul li a:hover {
            cursor: pointer;
            background-color: var(--thema-white);
            border-left: 10px solid var(--thema-white);
            border-right: 10px solid var(--thema-white); }

.normal-header {
  background-color: var(--thema-dark); }

.light {
  background-color: var(--thema-light) !important; }

.texture-header {
  background-image: url("../assets/textures/dark-leather.png") !important;
  background-blend-mode: color-burn !important;
  background-color: var(--thema-dark); }

.color-header {
  background-image: url("../assets/textures/bright-squares.png") !important;
  background-blend-mode: difference !important;
  background-color: var(--thema); }

main {
  height: 70vh;
  background-color: var(--thema-white);
  box-sizing: border-box;
  display: flex; }

.presentation #Pres {
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin: 2.25%; }

.text-left {
  text-align: left;
  justify-content: flex-start !important;
  text-indent: 0.25rem; }

.smaller {
  font-size: 1rem !important; }

.animateBg {
  animation: animateBg 30s linear forwards infinite; }

@keyframes animateBg {
  from {
    background-color: initial; }
  50% {
    background-color: var(--thema-dark); }
  to {
    background-color: initial; } }
.gplay {
  background-image: url("../assets/textures/gplay.png");
  background-blend-mode: color-dodge; }

.diapo {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .diapo .heading2 {
    height: auto;
    margin: auto auto 0;
    display: flex;
    width: 25%; }

.contact {
  width: 72%;
  display: flex;
  margin: auto;
  justify-content: center; }
  .contact hr {
    height: 80%;
    margin: auto;
    border: 1px solid var(--thema-dark-transp);
    border-left: unset; }
  .contact .contacts, .contact .section-left, .contact .section-right {
    height: 80%;
    margin: auto 1rem;
    border: 1px solid var(--thema-dark-transp); }
    .contact .contacts .heading3, .contact .section-left .heading3, .contact .section-right .heading3 {
      border-left: unset;
      border-right: unset;
      border-color: var(--thema-dark-transp);
      text-align: center;
      text-transform: uppercase;
      font-weight: normal; }
  .contact .contacts {
    width: 100%;
    margin: auto 1rem; }
    .contact .contacts .submit {
      transition: 0.5s; }
      .contact .contacts .submit:hover {
        background-color: var(--thema-dark); }
    .contact .contacts .frame50 {
      border-color: var(--thema-dark-transp); }
      .contact .contacts .frame50 .contactFrame {
        width: 25%;
        height: 100%; }
        .contact .contacts .frame50 .contactFrame .content {
          width: 100%;
          height: 100%; }
          .contact .contacts .frame50 .contactFrame .content .picto {
            opacity: 0.6;
            transition: 0.5s;
            background-size: 20%; }
            .contact .contacts .frame50 .contactFrame .content .picto:hover {
              opacity: 1; }
  .contact .section-left {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 33%; }
    .contact .section-left .heading3 {
      height: initial;
      margin: 1rem; }
    .contact .section-left .frameDl .contactFrame {
      width: 100%;
      height: initial; }
      .contact .section-left .frameDl .contactFrame .content {
        background-image: initial !important; }
        .contact .section-left .frameDl .contactFrame .content .picto {
          font-size: 0.92rem;
          height: 4vh;
          display: flex;
          align-items: center;
          margin: auto 1.5%;
          justify-content: start;
          background-image: initial !important;
          font-family: var(--font-normal); }
          .contact .section-left .frameDl .contactFrame .content .picto::before {
            content: " 📚";
            position: relative;
            padding-right: 1rem; }
          .contact .section-left .frameDl .contactFrame .content .picto:hover {
            background-color: var(--thema-dark-transp); }
  .contact .section-right {
    margin: auto; }

.partner .contactFrame .content .picto {
  text-transform: capitalize; }
  .partner .contactFrame .content .picto::before {
    content: "🌏 " !important; }

.section-main .divParam {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-family: var(--font-normal);
  font-size: 0.84rem;
  top: 16%;
  left: 0.5%;
  margin: 0.25rem;
  z-index: 999;
  width: 10%;
  box-sizing: border-box; }
  .section-main .divParam .logoFrame {
    display: flex;
    border: 6px solid #fff;
    height: 52px;
    width: 52px;
    cursor: pointer;
    background-color: var(--thema-lightest); }
    .section-main .divParam .logoFrame .logoParam {
      display: flex;
      margin: auto;
      height: 32px;
      width: 32px;
      background-image: url("../assets/elements/logo-param.svg");
      background-position: center;
      background-size: contain; }
  .section-main .divParam #params {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    max-height: 60vh;
    width: 100%; }
    .section-main .divParam #params .form, .section-main .divParam #params .headingMenu {
      background-color: var(--thema-white);
      height: auto;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      align-items: center;
      margin: 0.5rem; }
      .section-main .divParam #params .form h5, .section-main .divParam #params .headingMenu h5 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: normal;
        text-transform: uppercase;
        margin-block-end: 0;
        margin-block-start: 0; }
        .section-main .divParam #params .form h5 a, .section-main .divParam #params .headingMenu h5 a {
          font-family: var(--font-contrail);
          color: var(--thema-darkest);
          text-decoration: unset;
          cursor: pointer;
          display: flex;
          justify-content: center;
          height: 24px;
          margin: 0;
          padding: 0;
          align-items: center;
          width: 100%;
          transition: 0.5s; }
          .section-main .divParam #params .form h5 a:hover, .section-main .divParam #params .headingMenu h5 a:hover {
            background-color: var(--thema-darker);
            color: var(--thema-white); }
    .section-main .divParam #params .form {
      height: 100%;
      margin: 0.25rem;
      background-color: var(--thema-white); }
      .section-main .divParam #params .form form {
        margin: auto; }
    .section-main .divParam #params .headingMenu {
      justify-content: space-between; }
      .section-main .divParam #params .headingMenu .cross {
        height: 24px;
        width: 32px;
        border: unset;
        background-color: var(--thema-dark-transp);
        background-image: url("../assets/elements/white-cross.svg");
        background-position: center;
        cursor: pointer;
        transition: 0.5s; }
        .section-main .divParam #params .headingMenu .cross:hover {
          background-color: var(--thema-dark); }

.section-main .section {
  display: flex;
  margin: auto; }

#navSpy {
  width: min-content;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%; }
  #navSpy a {
    display: flex;
    font-size: 0.72rem;
    text-transform: uppercase;
    justify-content: center;
    text-decoration: unset;
    color: var(--thema-darkest);
    align-items: center;
    transition: 0.5s;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -0.2rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; }

#toggleMenu, #informations {
  background: unset;
  background-image: url("../assets/elements/arrow-top.svg");
  background-size: cover;
  border: unset;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px; }

#informations {
  background-image: url("../assets/navbar/icon-info.svg"); }

.responsiveB .presentation #Pres .divParam .sect {
  display: flex !important;
  height: 100%;
  flex-direction: column; }

#navSpy .active {
  transition: 0.5s;
  background-color: var(--thema-dark);
  color: var(--thema-darkest); }

.panneauInfo {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 97%;
  box-sizing: border-box;
  display: flex;
  height: auto;
  margin: 1.5%;
  background-color: var(--thema-white);
  flex-direction: column;
  border-radius: 1px;
  border: 1px solid var(--thema-darkest);
  padding: 0.16rem; }
  .panneauInfo .panneau-head, .panneauInfo .panneau-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-normal); }
    .panneauInfo .panneau-head h4, .panneauInfo .panneau-content h4 {
      text-transform: uppercase;
      padding-top: 0.1rem;
      color: var(--thema-darkest); }
  .panneauInfo .panneau-content {
    height: 100%;
    justify-content: initial;
    display: list-item;
    padding: 0.25rem;
    color: var(--thema-darkest); }
    .panneauInfo .panneau-content p {
      text-transform: uppercase;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      text-decoration: underline;
      text-underline-offset: 0.25rem; }
    .panneauInfo .panneau-content li {
      font-size: 0.76rem;
      text-align: justify; }
    .panneauInfo .panneau-content li span {
      color: var(--thema-darker); }

.panneauInfo .cross2 {
  height: 24px;
  width: 24px;
  background: none;
  background-image: url("../assets/elements/cross.svg");
  background-position: center;
  cursor: pointer; }

.projet-list {
  border: 1px solid var(--thema-dark-transp);
  width: auto;
  margin: auto;
  font-family: var(--font-normal);
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  .projet-list .projet-content {
    border: 1px solid var(--thema-dark-transp);
    display: flex;
    box-sizing: border-box;
    flex-direction: column-reverse;
    width: 50vh;
    color: var(--thema-darkest);
    opacity: 0.84;
    margin: 0.5rem; }
    .projet-list .projet-content .headBar {
      display: flex;
      background-color: var(--thema-dark-transp);
      box-sizing: border-box;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      text-transform: uppercase;
      letter-spacing: 0.04rem;
      align-items: center; }
      .projet-list .projet-content .headBar .toggle {
        background: unset;
        border: unset;
        background-image: url("../assets/icons/icon-plus.svg");
        background-size: cover;
        width: 32px;
        height: 32px; }
    .projet-list .projet-content p, .projet-list .projet-content .headBar, .projet-list .projet-content a {
      padding-left: 0.5rem;
      font-size: 1rem; }
    .projet-list .projet-content p, .projet-list .projet-content a {
      padding: 0.5rem; }
    .projet-list .projet-content a {
      text-decoration: unset;
      transition: 0.5s;
      cursor: pointer;
      color: var(--thema-darker); }
      .projet-list .projet-content a:hover {
        background-color: var(--thema-transp); }

.form {
  justify-content: space-evenly;
  color: var(--thema-darkest);
  display: flex;
  flex-direction: column; }
  .form form {
    padding: 0.6rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    width: 100%; }

.form-tarik {
  font-family: var(--font-normal);
  margin: 1.5%;
  padding: 1%; }
  .form-tarik .section-label {
    color: var(--thema-darker);
    letter-spacing: 0.04rem;
    background-color: initial; }
  .form-tarik .section-input {
    margin: auto;
    border: 1px solid var(--thema-darker);
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-end; }
    .form-tarik .section-input textarea, .form-tarik .section-input input {
      border: 1px solid var(--thema-dark-transp);
      background-color: var(--thema-lightest);
      color: var(--thema-darkest); }
    .form-tarik .section-input input, .form-tarik .section-input textarea {
      width: 100%;
      margin: 0.25rem; }
      .form-tarik .section-input input::placeholder, .form-tarik .section-input textarea::placeholder {
        color: var(--thema-darker);
        font-family: var(--font-normal);
        font-style: italic;
        opacity: 0.64; }
    .form-tarik .section-input .submit {
      width: 16%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--thema-dark-transp);
      background-color: var(--thema-transp);
      border-radius: 0; }

.form form select {
  font-size: 0.8rem;
  color: var(--thema-darkest); }

#erreur.heading4 {
  color: red;
  font-weight: bolder;
  text-transform: initial; }

.section-input, .section-label {
  padding: 0.25rem;
  margin: 0.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.section-input {
  border: 1px solid var(--thema-dark-transp);
  border-radius: 2px; }

.section-label {
  padding: 0.2rem;
  background-color: var(--thema);
  justify-content: space-between; }
  .section-label p {
    font-style: italic; }

.submit {
  background: initial;
  border: 1px solid var(--thema-dark-transp);
  border-radius: 2px;
  background-color: var(--thema-transp);
  color: var(--thema-darkest);
  padding: 0.25rem;
  font-size: 0.78rem;
  transition: 0.5s;
  cursor: pointer; }
  .submit:hover {
    background-color: var(--thema); }

.switch {
  position: relative;
  display: flex;
  width: 60px;
  height: 30px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  border: 1px solid var(--thema-dark-transp);
  background-color: var(--thema-lightest);
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 80%;
  width: 45%;
  margin: 5%;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: var(--thema); }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.section {
  display: flex;
  width: 960px;
  flex-wrap: wrap; }
  .section .frame-3 {
    display: flex;
    width: 64%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0.5rem;
    margin-top: -10.25%;
    font-family: var(--font-normal); }
    .section .frame-3 .under-frame {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      border: 8px solid var(--thema-dark-transp);
      padding: 1rem;
      margin: 0.5rem; }
      .section .frame-3 .under-frame #next, .section .frame-3 .under-frame #prev {
        cursor: pointer;
        background: unset;
        border: unset;
        background-image: url("../assets/elements/next-button.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 22px;
        height: 22px;
        transition: 0.25s; }
        .section .frame-3 .under-frame #next:hover, .section .frame-3 .under-frame #prev:hover {
          transform: scale(1.2); }
      .section .frame-3 .under-frame #prev {
        background-image: url("../assets/elements/prev-button.svg"); }

.frame-1, .frame-2 {
  width: 480px;
  height: 480px;
  border: 1px solid var(--thema-dark-transp);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center; }

.frame-1 {
  border-right: 0px solid var(--thema-dark-transp);
  padding: 0.5rem; }
  .frame-1 .picture {
    cursor: pointer; }

.frame-2 {
  border-left: 0px solid var(--thema-dark-transp);
  font-family: var(--font-normal);
  display: flex; }
  .frame-2 .under {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex; }
    .frame-2 .under .under-frame {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80%;
      width: 80%;
      margin: auto; }
      .frame-2 .under .under-frame h4, .frame-2 .under .under-frame p {
        display: flex;
        width: 92%;
        color: var(--thema-darkest);
        margin: 2rem; }
      .frame-2 .under .under-frame h4 {
        display: flex;
        align-items: center;
        font-family: var(--font-zilla);
        text-transform: uppercase;
        font-size: 1.4rem;
        font-style: italic;
        font-weight: normal;
        height: 20%;
        color: var(--thema-darkest);
        opacity: 0.92;
        letter-spacing: 0.045rem; }
      .frame-2 .under .under-frame p {
        padding: 0.25rem;
        text-align: justify;
        font-size: 15px;
        height: 80%; }

.picture {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }
  .picture .under {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box; }

.frame-3 {
  z-index: 50; }
  .frame-3 .under-frame #auto {
    border: unset;
    background: unset;
    width: 26px;
    height: 26px;
    background-image: url("../assets/elements/stop-button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 0.5s; }

.frame-3 .under-frame #auto:hover {
  background-image: url("../assets/elements/stop-button-hover.svg"); }

.bullet {
  display: flex;
  border: 4px double var(--thema-darkest);
  opacity: 0.72;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  justify-content: center;
  align-items: center; }

.bullet-active {
  display: flex;
  background-color: var(--thema-white);
  opacity: 0.92;
  width: 14px;
  height: 14px;
  justify-content: center;
  align-items: center; }

.shadowed {
  box-shadow: 0px 0px 1px var(--thema-dark) inset, 1px 1px 2px var(--thema-dark) inset, -1px -1px 2px var(--thema-dark) inset; }

.shadowed2 {
  box-shadow: 0px 0px 1px var(--thema-darkest) inset, 0px 0px 1px var(--thema-darkest) inset, 0px 0px 2px var(--thema-darkest) inset; }

.classy {
  background-image: url("../assets/textures/triangles.png");
  background-color: var(--thema-lightest);
  background-blend-mode: color-burn;
  background-size: auto; }

.lightest {
  background-color: var(--thema-lightest); }

.white {
  background-color: var(--thema-white); }

.myBox {
  width: 76%;
  min-height: 76%;
  max-height: 76%;
  height: auto;
  position: absolute;
  top: 12%;
  left: 12%;
  z-index: 9999;
  background-color: var(--thema-white);
  display: flex;
  animation: scaleXY 0.8s linear forwards;
  border: 1px solid var(--thema-dark-transp);
  flex-direction: column;
  padding: 0.2rem;
  box-sizing: border-box;
  overflow-y: scroll; }
  .myBox .myBar {
    display: flex;
    box-sizing: border-box;
    background-color: var(--thema-white);
    width: 100%;
    justify-content: space-between; }
    .myBox .myBar .myH4 {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      padding-bottom: 0.1rem;
      text-indent: 0.25rem;
      letter-spacing: 0.06rem;
      justify-content: center;
      font-family: var(--font-normal);
      font-weight: normal;
      color: var(--thema-darkest); }
    .myBox .myBar .divOptions .myCross, .myBox .myBar .divOptions .zoomIn, .myBox .myBar .divOptions .zoomOut {
      height: 24px;
      width: 24px;
      border: unset;
      background: var(--thema-dark-transp);
      background-image: url("../assets/elements/white-cross.svg");
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer; }
    .myBox .myBar .divOptions .zoomIn {
      background-image: url("../assets/icons/icon-plus.svg");
      background-size: contain; }
    .myBox .myBar .divOptions .zoomOut {
      background-image: url("../assets/icons/icon-minus.svg");
      background-size: contain; }
  .myBox img {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    height: auto;
    box-sizing: border-box; }

.thumbnails {
  display: flex; }

.fadeIn {
  transition: 0.05s;
  animation: fadeIn 1s linear forwards; }

.fadeOut {
  animation: fadeOut 1s linear forwards; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes scaleXY {
  from {
    transform: scaleX(0) scaleY(0); }
  50% {
    transform: scaleX(1) scaleY(0.01); }
  to {
    transform: scaleX(1) scaleY(1); } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
#section2 {
  display: flex;
  flex-direction: column; }

.cadreCarousel {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

#carousel0, #carousel1, #carousel2, #carousel3 {
  border-radius: 2px;
  z-index: 150;
  display: flex;
  box-sizing: border-box;
  width: auto;
  margin: 0% 1.5%;
  height: 100%;
  border: 1px solid var(--thema-darker); }

#carousel0 .carousel, #carousel1 .carousel, #carousel2 .carousel, #carousel3 .carousel {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
#carousel0 .pict, #carousel1 .pict, #carousel2 .pict, #carousel3 .pict {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  #carousel0 .pict .logo2, #carousel0 .pict .content, #carousel1 .pict .logo2, #carousel1 .pict .content, #carousel2 .pict .logo2, #carousel2 .pict .content, #carousel3 .pict .logo2, #carousel3 .pict .content {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    height: 40vh;
    color: var(--thema-darkest); }
    #carousel0 .pict .logo2 .paraContent, #carousel0 .pict .content .paraContent, #carousel1 .pict .logo2 .paraContent, #carousel1 .pict .content .paraContent, #carousel2 .pict .logo2 .paraContent, #carousel2 .pict .content .paraContent, #carousel3 .pict .logo2 .paraContent, #carousel3 .pict .content .paraContent {
      display: flex;
      flex-direction: column;
      font-family: var(--font-normal); }
      #carousel0 .pict .logo2 .paraContent .heading3, #carousel0 .pict .content .paraContent .heading3, #carousel1 .pict .logo2 .paraContent .heading3, #carousel1 .pict .content .paraContent .heading3, #carousel2 .pict .logo2 .paraContent .heading3, #carousel2 .pict .content .paraContent .heading3, #carousel3 .pict .logo2 .paraContent .heading3, #carousel3 .pict .content .paraContent .heading3 {
        border: unset;
        padding: 0.25rem;
        font-style: oblique;
        font-family: var(--font-zilla); }
      #carousel0 .pict .logo2 .paraContent :first-child, #carousel0 .pict .content .paraContent :first-child, #carousel1 .pict .logo2 .paraContent :first-child, #carousel1 .pict .content .paraContent :first-child, #carousel2 .pict .logo2 .paraContent :first-child, #carousel2 .pict .content .paraContent :first-child, #carousel3 .pict .logo2 .paraContent :first-child, #carousel3 .pict .content .paraContent :first-child {
        display: flex;
        justify-content: center; }
      #carousel0 .pict .logo2 .paraContent p, #carousel0 .pict .content .paraContent p, #carousel1 .pict .logo2 .paraContent p, #carousel1 .pict .content .paraContent p, #carousel2 .pict .logo2 .paraContent p, #carousel2 .pict .content .paraContent p, #carousel3 .pict .logo2 .paraContent p, #carousel3 .pict .content .paraContent p {
        margin: 2% 2%;
        text-align: justify;
        text-indent: 1rem;
        font-size: 0.90rem; }
        #carousel0 .pict .logo2 .paraContent p i, #carousel0 .pict .content .paraContent p i, #carousel1 .pict .logo2 .paraContent p i, #carousel1 .pict .content .paraContent p i, #carousel2 .pict .logo2 .paraContent p i, #carousel2 .pict .content .paraContent p i, #carousel3 .pict .logo2 .paraContent p i, #carousel3 .pict .content .paraContent p i {
          justify-content: flex-start !important; }
  #carousel0 .pict .content, #carousel1 .pict .content, #carousel2 .pict .content, #carousel3 .pict .content {
    height: 40vh; }

#carousel1 .pict .content, #carousel1 .pict .logo2, #carousel2 .pict .content, #carousel2 .pict .logo2, #carousel3 .pict .content, #carousel3 .pict .logo2, #carousel6 .pict .content, #carousel6 .pict .logo2 {
  display: flex;
  flex-direction: column;
  height: 24vh; }
  #carousel1 .pict .content img, #carousel1 .pict .logo2 img, #carousel2 .pict .content img, #carousel2 .pict .logo2 img, #carousel3 .pict .content img, #carousel3 .pict .logo2 img, #carousel6 .pict .content img, #carousel6 .pict .logo2 img {
    width: 25%;
    display: flex; }
#carousel1 .pict .logo2, #carousel2 .pict .logo2, #carousel3 .pict .logo2, #carousel6 .pict .logo2 {
  justify-content: center;
  align-items: center; }
#carousel1 .pict .content, #carousel2 .pict .content, #carousel3 .pict .content, #carousel6 .pict .content {
  justify-content: flex-start; }
  #carousel1 .pict .content .paraContent p, #carousel2 .pict .content .paraContent p, #carousel3 .pict .content .paraContent p, #carousel6 .pict .content .paraContent p {
    text-indent: unset; }
    #carousel1 .pict .content .paraContent p::first-letter, #carousel2 .pict .content .paraContent p::first-letter, #carousel3 .pict .content .paraContent p::first-letter, #carousel6 .pict .content .paraContent p::first-letter {
      text-transform: uppercase; }

.carousel {
  position: relative;
  overflow: hidden;
  margin: auto; }

.carousel__container {
  transition: transform 1s ease;
  transform: translate3d(0, 0, 0);
  display: flex;
  height: auto; }

.carousel__container::after {
  content: "";
  clear: both;
  display: table; }

.carousel__item {
  float: left;
  overflow: visible;
  margin: 0; }
  .carousel__item .pict img {
    transition: 0.25s transform ease-in; }

.carousel__next, .carousel__prev {
  position: absolute;
  width: 24px;
  height: 48px;
  background: url("../assets/icons/icon-next.svg") center center no-repeat;
  top: 50%;
  margin-top: -20px;
  right: 0px;
  cursor: pointer;
  background-size: contain;
  transition: 0.4s;
  opacity: 0.25;
  transition-property: opacity,transform; }

.carousel__next, .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--thema-white);
  top: 50%;
  margin-top: -20px;
  right: 0px;
  cursor: pointer;
  background-size: 80%;
  transition: 0.4s;
  transform: scale(0.8);
  transition-property: opacity,transform; }

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1); }

.carousel__prev:hover {
  transform: scale(-1); }

.carousel__prev {
  background: url("../assets/icons/icon-next.svg") center center no-repeat;
  background-size: 100%;
  transform: scale(-0.8);
  right: auto; }

.carousel__pagination {
  display: none;
  justify-content: center;
  justify-content: space-evenly;
  margin: auto 40%; }

.carousel__pagination__button {
  background-color: var(--thema);
  width: 12px;
  height: 12px;
  border-radius: 2px;
  display: flex;
  margin: 0px 4px;
  transition: transform 0.3s;
  cursor: pointer; }

.carousel__pagination__button__active, .carousel__pagination__button:hover {
  transform: scale(1.4);
  background-color: var(--thema); }

.hidden {
  opacity: 0; }

.carousel__pagination {
  display: flex; }

#carousel4, #carousel5, #carousel6 {
  margin: auto;
  display: flex;
  box-sizing: border-box;
  max-width: 92vw; }
  #carousel4 .carousel__container, #carousel5 .carousel__container, #carousel6 .carousel__container {
    width: auto; }
    #carousel4 .carousel__container .carousel__item, #carousel5 .carousel__container .carousel__item, #carousel6 .carousel__container .carousel__item {
      display: flex;
      height: 50vh;
      justify-content: center;
      align-items: center;
      margin: auto 0.5rem; }
      #carousel4 .carousel__container .carousel__item .pict, #carousel5 .carousel__container .carousel__item .pict, #carousel6 .carousel__container .carousel__item .pict {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        border: 1px solid var(--thema-dark-transp);
        border-radius: 2px;
        box-sizing: border-box;
        padding: 0.25rem; }
        #carousel4 .carousel__container .carousel__item .pict .classy, #carousel5 .carousel__container .carousel__item .pict .classy, #carousel6 .carousel__container .carousel__item .pict .classy {
          background-image: url("../assets/textures/diagonal-striped-brick.png"); }
        #carousel4 .carousel__container .carousel__item .pict .logo2 .frame30, #carousel5 .carousel__container .carousel__item .pict .logo2 .frame30, #carousel6 .carousel__container .carousel__item .pict .logo2 .frame30 {
          width: 100%; }
          #carousel4 .carousel__container .carousel__item .pict .logo2 .frame30 .picto, #carousel5 .carousel__container .carousel__item .pict .logo2 .frame30 .picto, #carousel6 .carousel__container .carousel__item .pict .logo2 .frame30 .picto {
            background-size: 44%; }
        #carousel4 .carousel__container .carousel__item .pict .logo2, #carousel4 .carousel__container .carousel__item .pict .content, #carousel5 .carousel__container .carousel__item .pict .logo2, #carousel5 .carousel__container .carousel__item .pict .content, #carousel6 .carousel__container .carousel__item .pict .logo2, #carousel6 .carousel__container .carousel__item .pict .content {
          display: flex;
          width: 100%;
          font-family: var(--font-normal); }
          #carousel4 .carousel__container .carousel__item .pict .logo2 .paraContent, #carousel4 .carousel__container .carousel__item .pict .content .paraContent, #carousel5 .carousel__container .carousel__item .pict .logo2 .paraContent, #carousel5 .carousel__container .carousel__item .pict .content .paraContent, #carousel6 .carousel__container .carousel__item .pict .logo2 .paraContent, #carousel6 .carousel__container .carousel__item .pict .content .paraContent {
            display: flex;
            flex-direction: column;
            max-height: 100%; }
            #carousel4 .carousel__container .carousel__item .pict .logo2 .paraContent .heading3, #carousel4 .carousel__container .carousel__item .pict .content .paraContent .heading3, #carousel5 .carousel__container .carousel__item .pict .logo2 .paraContent .heading3, #carousel5 .carousel__container .carousel__item .pict .content .paraContent .heading3, #carousel6 .carousel__container .carousel__item .pict .logo2 .paraContent .heading3, #carousel6 .carousel__container .carousel__item .pict .content .paraContent .heading3 {
              border: 1px solid var(--thema-dark-transp);
              margin: 2% 5% auto;
              background-color: var(--thema-white);
              letter-spacing: 0.05rem; }
          #carousel4 .carousel__container .carousel__item .pict .logo2 img, #carousel4 .carousel__container .carousel__item .pict .logo2 p, #carousel4 .carousel__container .carousel__item .pict .content img, #carousel4 .carousel__container .carousel__item .pict .content p, #carousel5 .carousel__container .carousel__item .pict .logo2 img, #carousel5 .carousel__container .carousel__item .pict .logo2 p, #carousel5 .carousel__container .carousel__item .pict .content img, #carousel5 .carousel__container .carousel__item .pict .content p, #carousel6 .carousel__container .carousel__item .pict .logo2 img, #carousel6 .carousel__container .carousel__item .pict .logo2 p, #carousel6 .carousel__container .carousel__item .pict .content img, #carousel6 .carousel__container .carousel__item .pict .content p {
            display: flex;
            margin: auto; }
          #carousel4 .carousel__container .carousel__item .pict .logo2 p, #carousel4 .carousel__container .carousel__item .pict .content p, #carousel5 .carousel__container .carousel__item .pict .logo2 p, #carousel5 .carousel__container .carousel__item .pict .content p, #carousel6 .carousel__container .carousel__item .pict .logo2 p, #carousel6 .carousel__container .carousel__item .pict .content p {
            text-indent: 1rem;
            margin: auto 5%;
            text-align: justify;
            font-size: 0.8rem;
            color: var(--thema-darkest); }
        #carousel4 .carousel__container .carousel__item .pict .content, #carousel5 .carousel__container .carousel__item .pict .content, #carousel6 .carousel__container .carousel__item .pict .content {
          box-sizing: border-box;
          height: 100%;
          justify-content: start; }

#carousel4 .carousel .carousel__container .carousel__item .pict {
  background-color: var(--thema-transp);
  background-image: url("../assets/textures/triangles.png");
  background-blend-mode: color-burn;
  background-size: auto; }

#carousel5 .carousel__container .carousel__item {
  height: 32vh; }
  #carousel5 .carousel__container .carousel__item .pict .classy {
    background: unset; }
  #carousel5 .carousel__container .carousel__item .logo2 .legend, #carousel5 .carousel__container .carousel__item .content .legend {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center; }
    #carousel5 .carousel__container .carousel__item .logo2 .legend .heading3, #carousel5 .carousel__container .carousel__item .content .legend .heading3 {
      width: 100%;
      font-size: 1.1rem; }
  #carousel5 .carousel__container .carousel__item .logo2 .frame30 {
    background-color: var(--thema);
    background-image: url("../assets/textures/hexellence.png");
    background-blend-mode: color-dodge; }

#carousel6 .carousel .carousel__container .carousel__item {
  height: 42vh; }
  #carousel6 .carousel .carousel__container .carousel__item .pict .content {
    height: 50%;
    display: flex;
    background-image: url("../assets/textures/green-gobbler.png");
    background-blend-mode: color-dodge;
    background-color: var(--thema-lightest);
    background-blend-mode: darken; }
    #carousel6 .carousel .carousel__container .carousel__item .pict .content .paraContent {
      height: 100%; }
      #carousel6 .carousel .carousel__container .carousel__item .pict .content .paraContent .heading3 {
        margin: 0.5rem auto auto;
        width: 92%; }
      #carousel6 .carousel .carousel__container .carousel__item .pict .content .paraContent p {
        width: 92%;
        margin: 1rem auto auto;
        text-indent: unset;
        text-align: justify;
        font-size: 0.88rem; }
        #carousel6 .carousel .carousel__container .carousel__item .pict .content .paraContent p:nth-child(3) {
          color: var(--thema-darkest);
          font-weight: normal;
          font-style: italic;
          letter-spacing: 0.06rem;
          text-transform: uppercase;
          margin: auto auto 1rem; }

.draggable, .case-droppable {
  display: flex;
  margin: auto;
  border: 2px solid transparent;
  justify-content: center;
  align-items: center; }

.draggable {
  width: 60px;
  height: 60px;
  margin: auto;
  cursor: move;
  font-size: 1.1rem;
  border: 0px !important; }

.case-droppable {
  width: 56px;
  height: 56px;
  border: 1px solid var(--thema-darkest); }

.dragged {
  user-select: none;
  border-radius: 32%;
  width: 44px;
  height: 44px; }

.zone1 {
  width: 100%;
  margin: auto;
  display: flex;
  height: 100%; }
  .zone1 section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.25rem; }
    .zone1 section .zone-titre {
      display: flex;
      border: 1px solid var(--thema-dark-transp);
      justify-content: center; }

.zone4 {
  background-color: var(--thema-dark);
  background-image: url("../assets/textures/hexellence.png");
  background-blend-mode: color-dodge;
  filter: brightness(105%);
  width: 100%;
  margin: auto; }

.zone-droppable {
  display: grid;
  margin: auto;
  border: 1px solid var(--thema-dark-transp);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  border-radius: 50%; }

.zone-droppable-2 {
  display: grid;
  margin: auto;
  border: 1px solid var(--thema-darkest);
  border-radius: 8px;
  padding: 0.25rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem; }

.zone-selectable {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .zone-selectable .base {
    margin: auto 2rem;
    background-color: var(--thema-transp);
    width: auto;
    height: auto; }

.case-droppable {
  border-radius: 32%; }

.divText, .draggable {
  font-size: 0.8rem; }

.compteur {
  width: 48px;
  height: 48px !important;
  display: flex;
  margin-right: 1rem;
  background-color: var(--thema-green); }
  .compteur p {
    margin: auto;
    font-size: 1.2rem;
    display: flex;
    justify-content: center; }

.bgGreen {
  background-color: var(--thema); }

.carte-visite {
  font-family: var(--font-normal);
  flex-direction: column;
  height: 70vh;
  display: flex;
  margin: auto;
  box-shadow: border-box;
  max-width: 80%; }
  .carte-visite .panneauMilieu {
    height: 90%;
    border: 1px solid var(--thema-dark-transp);
    margin: 0.5rem auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 0.25rem;
    flex-direction: column; }
    .carte-visite .panneauMilieu .heading3 {
      margin: 0 0 0.25rem;
      box-sizing: border-box;
      font-size: 1rem; }
    .carte-visite .panneauMilieu .zone1 {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      margin: 0 auto 0.25rem; }
      .carte-visite .panneauMilieu .zone1 section {
        display: flex;
        box-sizing: border-box;
        height: 100%;
        width: 33%;
        border: 1px solid var(--thema-dark-transp);
        align-items: center;
        justify-content: center;
        background-color: var(--thema-lightest);
        background-image: url("../assets/textures/cubes.png");
        background-blend-mode: darken; }
        .carte-visite .panneauMilieu .zone1 section .zone-titre {
          width: 100%;
          padding: initial; }
          .carte-visite .panneauMilieu .zone1 section .zone-titre h4 {
            color: var(--thema-darkest);
            font-size: 1.12rem;
            font-weight: normal;
            letter-spacing: 0.06rem;
            text-transform: uppercase; }
    .carte-visite .panneauMilieu .zone4 {
      border: 1px solid var(--thema-dark-transp);
      box-sizing: border-box; }
      .carte-visite .panneauMilieu .zone4 .zone-selectable .base {
        margin: 1rem; }
  .carte-visite .cadre-bottom {
    border: 1px solid var(--thema-dark-transp);
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 0.5rem; }
    .carte-visite .cadre-bottom .dragLegend {
      height: 100%;
      display: flex;
      display: flex;
      justify-content: center;
      width: 100%; }
      .carte-visite .cadre-bottom .dragLegend .divText {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.92rem;
        height: 50%;
        width: 50%;
        margin: auto;
        border: 1px solid var(--thema-darkest);
        color: var(--thema-darkest); }

.base .framework[data-combinaison="cccd"],
.base .framework[data-combinaison="ccdd"],
.case-droppable .draggable[data-combinaison="cccd"],
.case-droppable .draggable[data-combinaison="ccdd"] {
  color: white; }

.heading1, .heading2, .heading3, .heading4 {
  margin: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.2rem;
  border: 2px solid var(--thema-dark-transp);
  font-size: 1.2rem;
  opacity: 0.84;
  letter-spacing: 0.03rem;
  font-family: var(--font-normal);
  color: var(--thema-darker);
  font-weight: normal; }

.paraContent .heading3 {
  text-transform: uppercase; }

.heading1 {
  border: unset;
  margin: initial; }

.heading2 {
  font-size: 1.24rem;
  color: var(--thema-darkest);
  justify-content: center;
  padding-top: 0.16rem;
  text-transform: uppercase;
  font-family: var(--font-normal);
  opacity: 0.64;
  height: 12vh;
  border: 1px solid var(--thema-darkest);
  border-left: none;
  border-right: none; }

.heading4 {
  font-size: 0.78rem;
  color: var(--thema-darkest);
  border: unset;
  opacity: 0.64; }

.heading3 {
  border: 1px solid var(--thema-dark-transp);
  padding: unset;
  text-transform: uppercase;
  font-size: 0.92rem;
  height: 8vh;
  letter-spacing: 0.064rem; }

#carousel4 .pict .classy .heading3,
#carousel5 .pict .classy .heading3,
#carousel6 .pict .classy .heading3,
.contacts .heading3 {
  height: initial;
  font-size: initial;
  text-transform: initial; }

.heading1 {
  font-size: 1.6rem;
  background-color: var(--thema-lightest);
  background-image: url("../assets/elements/background-heading.svg");
  background-blend-mode: overlay;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 90%;
  color: var(--thema-darkest);
  font-family: var(--font-contrail);
  height: 11.25vh;
  text-transform: uppercase;
  opacity: 1; }

.divHeading {
  display: flex;
  border: 1px solid var(--thema-darker);
  border-radius: 2px;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  width: 100%; }
  .divHeading h4 {
    width: 100%;
    display: flex;
    margin: auto;
    font-size: 1.04rem;
    border: unset;
    height: 96%; }

@keyframes switchBg {
  from {
    background-color: #e2fbff; }
  25% {
    background-color: #f1e7fb; }
  50% {
    background-color: #f1e7fb; }
  to {
    background-color: #e2fbff; } }
.frame30, .frame24, .frame24-reverse {
  border: 0px solid var(--thema-dark-transp);
  background-color: var(--thema);
  background-image: url("../assets/textures/green-gobbler.png");
  background-blend-mode: color-dodge;
  margin: 1.5%;
  display: flex;
  flex-direction: column-reverse; }
  .frame30 .picto, .frame24 .picto, .frame24-reverse .picto {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36%; }
  .frame30 h4, .frame24 h4, .frame24-reverse h4 {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-family: var(--font-zilla);
    font-size: 1.4rem;
    color: var(--thema-dark);
    font-style: italic; }

.frame24, .frame24-reverse {
  background: unset;
  background-color: unset;
  justify-content: space-evenly;
  border: 1px solid var(--thema-darker);
  font-family: var(--font-normal); }
  .frame24 h4, .frame24-reverse h4 {
    justify-content: flex-end;
    padding-right: 0.5rem;
    font-weight: normal;
    letter-spacing: 0.04rem; }
  .frame24 p, .frame24-reverse p {
    margin: 12.5%;
    text-align: justify;
    text-indent: 1rem;
    color: var(--thema-white); }

.frame24 {
  background-image: url("../assets/textures/cubes.png");
  background-color: var(--thema);
  background-blend-mode: color-dodge;
  background-size: 20%; }

.frame50, .frameDl {
  box-sizing: border-box;
  margin: 1.5%;
  display: flex;
  flex-wrap: wrap; }
  .frame50 .contactFrame, .frameDl .contactFrame {
    display: flex;
    margin: auto;
    box-sizing: border-box;
    width: 48%;
    height: 48%; }
    .frame50 .contactFrame .content, .frameDl .contactFrame .content {
      width: 100%;
      height: 100%; }
      .frame50 .contactFrame .content .picto, .frameDl .contactFrame .content .picto {
        display: flex;
        cursor: pointer;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        justify-content: center;
        align-items: flex-end;
        background-size: 26%;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.5s; }
        .frame50 .contactFrame .content .picto:hover, .frameDl .contactFrame .content .picto:hover {
          opacity: 0.92; }

.frame50 {
  border: 1px solid var(--thema-darkest);
  border-radius: 1px; }

.frameDl .contactFrame {
  width: 24%;
  height: 100%; }
  .frameDl .contactFrame .content {
    background-image: url("../assets/textures/green-gobbler.png");
    background-position: center;
    background-size: auto; }
  .frameDl .contactFrame .content .picto {
    background-size: 64%;
    background-image: unset;
    opacity: 0.64;
    text-decoration: unset;
    color: var(--thema-darkest);
    text-align: center;
    font-family: var(--font-contrail);
    font-size: 0.76rem; }

.frame24-reverse {
  background-color: var(--thema-dark);
  background-image: url("../assets/textures/green-gobbler.png"); }

#section5 > .frameDl .contactFrame {
  width: 100%;
  height: 100%; }
  #section5 > .frameDl .contactFrame .content {
    background-image: unset;
    background-position: center;
    background-size: auto; }

#section5 > .frameDl .contactFrame .picto {
  font-size: 0.96rem;
  height: 4vh;
  justify-content: initial;
  align-items: center;
  background-size: 64%;
  background-image: unset;
  opacity: 0.64;
  text-decoration: unset;
  color: var(--thema-darkest);
  text-align: center;
  font-family: var(--font-contrail); }
  #section5 > .frameDl .contactFrame .picto::before {
    content: "📚 "; }

.footer {
  height: 15vh;
  box-sizing: border-box;
  background-color: var(--thema-lightest);
  background-image: url("../assets/textures/classy-fabric.png");
  background-blend-mode: color-burn;
  display: flex;
  flex-direction: column;
  opacity: 0.92; }
  .footer .menu-footer, .footer .copyright {
    display: flex;
    box-sizing: border-box;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-family: var(--font-normal); }
    .footer .menu-footer ul, .footer .copyright ul {
      display: flex;
      width: 50%;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      padding: 0;
      height: 100%; }

.menu-footer ul li {
  display: flex;
  width: 25%;
  height: 100%;
  transition: 0.5s;
  align-items: center;
  justify-content: center; }
  .menu-footer ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--thema-darkest);
    text-decoration: none;
    font-size: 0.92rem;
    transition: 0.4s;
    font-family: var(--font-contrail);
    text-transform: uppercase; }
    .menu-footer ul li a:hover {
      cursor: pointer;
      background-color: var(--thema-white); }
  .menu-footer ul li .active {
    background-color: var(--thema-white); }

.copyright p {
  color: var(--thema-darkest); }

@media screen and (max-width: 640px) {
  .responsiveB {
    height: 100%; }

  .responsiveB .header {
    height: 11.25vh;
    display: flex;
    width: 100%;
    box-shadow: initial; }

  .responsiveB .header .zoneTitle {
    font-size: 1.2rem;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-size: contain;
    background-position-x: 32%;
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
    background-image: url("../assets/elements/logo-title-resp.svg") !important;
    background-position: center;
    background-repeat: no-repeat; }
    .responsiveB .header .zoneTitle span:nth-child(1)::after {
      content: unset;
      display: none; }
    .responsiveB .header .zoneTitle span {
      display: contents; }

  .header .logo {
    display: flex;
    justify-content: start;
    align-items: initial;
    width: min-content;
    height: 100%; }
    .header .logo .myLogo {
      width: 11.25vh;
      height: 11.25vh; }

  .responsiveB .presentation .divParam {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: var(--thema-lightest);
    box-sizing: border-box;
    display: flex;
    margin: initial;
    border: 1px solid var(--thema-dark-transp);
    opacity: 0.64; }
    .responsiveB .presentation .divParam .logoFrame {
      display: flex;
      justify-content: center;
      width: 24px;
      height: 24px; }
      .responsiveB .presentation .divParam .logoFrame .logoParam {
        box-sizing: border-box;
        margin: auto;
        width: 24px;
        height: 24px; }
    .responsiveB .presentation .divParam #params {
      z-index: 9999;
      max-height: initial;
      width: 100%; }
      .responsiveB .presentation .divParam #params .headingMenu {
        width: auto;
        margin: initial; }
      .responsiveB .presentation .divParam #params .form {
        overflow-y: auto;
        width: auto; }

  .header .zoneTitle {
    -webkit-text-fill-color: var(--thema-darkest);
    opacity: 0.68;
    -webkit-text-stroke-width: initial;
    font-weight: bolder; }
    .header .zoneTitle span:nth-child(2)::after {
      display: none; }

  .responsiveB .myBox {
    width: 100%;
    height: 100%;
    top: 60%;
    left: 0%;
    box-sizing: border-box; }
    .responsiveB .myBox img {
      max-width: 98vw;
      flex-basis: unset;
      box-sizing: border-box;
      height: auto; }
  .responsiveB main {
    min-height: 88.75vh;
    height: auto;
    overflow: hidden; }
    .responsiveB main .section-main {
      margin: initial !important;
      border: unset !important; }
      .responsiveB main .section-main .section {
        width: 100vw;
        max-width: 100vw;
        height: 100%;
        padding: 1.5%; }
        .responsiveB main .section-main .section #next, .responsiveB main .section-main .section #prev {
          position: absolute;
          z-index: 50;
          top: 68%;
          right: 1.5%;
          cursor: pointer;
          background: unset;
          background-color: var(--thema-white);
          border: unset;
          background-image: url("../assets/icons/icon-next.svg");
          background-position-x: center;
          background-position-y: center;
          background-repeat: no-repeat;
          background-size: 92%;
          width: 24px;
          height: 48px;
          transition: 0.25s;
          opacity: 0.92; }
        .responsiveB main .section-main .section #next {
          border-right: 0px; }
        .responsiveB main .section-main .section #prev {
          background-image: url("../assets/icons/icon-next.svg");
          left: 1.5%;
          border-left: 0px;
          transform: scale(-1); }
        .responsiveB main .section-main .section .frame-1, .responsiveB main .section-main .section .frame-2 {
          width: 100%;
          border: unset;
          border-right: unset;
          border-left: unset; }
        .responsiveB main .section-main .section .frame-1 {
          height: 64%;
          padding: initial; }
          .responsiveB main .section-main .section .frame-1 .picture {
            height: 98%;
            border: 2px solid var(--thema-dark-transp); }
        .responsiveB main .section-main .section .frame-2 {
          height: 30%; }
          .responsiveB main .section-main .section .frame-2 .under {
            height: 100%;
            border-width: 2px; }
          .responsiveB main .section-main .section .frame-2 .under-frame {
            width: unset;
            justify-content: space-evenly;
            height: 100%; }
            .responsiveB main .section-main .section .frame-2 .under-frame h4, .responsiveB main .section-main .section .frame-2 .under-frame p {
              margin: initial;
              height: auto;
              font-size: 0.84rem; }
            .responsiveB main .section-main .section .frame-2 .under-frame h4 {
              font-size: 0.92rem; }
            .responsiveB main .section-main .section .frame-2 .under-frame p {
              color: var(--thema-darkest);
              opacity: 0.8; }
        .responsiveB main .section-main .section .frame-3 {
          width: 100%;
          position: relative;
          left: 0%;
          bottom: 0%; }
          .responsiveB main .section-main .section .frame-3 .under-frame {
            width: 100%;
            padding: unset; }
            .responsiveB main .section-main .section .frame-3 .under-frame #auto, .responsiveB main .section-main .section .frame-3 .under-frame #prev, .responsiveB main .section-main .section .frame-3 .under-frame #next {
              width: 16px;
              height: 16px; }

  .responsiveB .frame30 h4,
  .responsiveB .frame24 p,
  .responsiveB .frame24 h4,
  .responsiveB .frame24-reverse h4,
  .responsiveB .frame24-reverse p {
    color: #18475Ac8; }

  .responsiveB footer {
    height: 11.25vh;
    max-height: 11.25vh;
    max-width: 100vw; }

  .responsiveB footer .menu-footer ul {
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0; }
    .responsiveB footer .menu-footer ul li {
      border: 2px solid #fff;
      width: 24%; }
      .responsiveB footer .menu-footer ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.16rem;
        font-size: 0.8rem; } }
.reveal [class*="reveal-"] {
  opacity: 0;
  transform: translateY(100px); }

.reveal-visible [class*="reveal-"] {
  opacity: 0.64;
  transition: 2s ease;
  transform: translateY(0px); }

.reveal-visible .reveal-2 {
  transition-delay: 0.25s; }

.reveal-visible .reveal-3 {
  transition-delay: 0.5s; }

@media (prefers-reduced-motion: reduce) {
  .reveal [class*="reveal-"] {
    opacity: 0.64;
    transform: translateY(0px); } }

/*# sourceMappingURL=style.css.map */
