.config3d{
    display: flex;
    flex-direction: column;
    .heading2{
        height: auto;
        margin:0.5rem auto 0;
        width: 47%;
        font-size: 1.12rem;
    }
    .bottomPanel{
        margin:auto;
        border:2px solid blue;
        width: 47%;
        display: flex;
        justify-content: center;
        height: 4vh;
        button{
            margin: auto;
            width: 100px;
        }
    }
    .cadre3d{
        display: flex;
        // margin:auto;
        width: 100%;
        max-width: 100vw;
        // border:1px solid var(--thema-darkest);        
        width: 100vw;
        box-sizing: border-box;
        max-width: 100vw;
        max-height: 100vh;
        height: 100vh;
        canvas{
            background-image: url('../assets/3d/background-blur.jpg');
            background-position: center;
            background-size:cover;
            // margin:0.25rem;
            width: 100vw;
            box-sizing: border-box;
            max-width: 100vw;
            max-height: 100vh;
            height: 100vh;
        }
    }
}




.control-panel{
    border:3px solid #0002;
    width:8%;
    display:flex;
    position: fixed;
    flex-direction: column;
    top:4%;
    left:2%;
    padding:0.1rem;
    button{
        margin:$margin;
        border:unset;
        cursor:pointer;
        height: 44px;
        transition: 0.5s;
        font-family: var(--font-normal);
        font-size: smaller;
        // font-weight: bolder;
        background-color:#0004;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-m;
        &:hover{
            background-color:var(--thema-dark-transp);
        }
    }
}

.bodyLoader{
    position: absolute;
    // border:4px solid red;
    background-color: #10101a;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    .loadingText{
        color:#fff;
        margin:auto;
        font-size: 1.4rem;
        font-family: var(--font-normal);
    }
}