.config3d{
    // border-bottom:1px solid var(--thema-dark-transp);
    display: flex;
    flex-direction: column;
    .heading2{
        height: auto;
        margin:0.5rem auto 0;
        width: 47%;
        font-size: 1.12rem;
    }
    .bottomPanel{
        margin:auto;
        border:2px solid blue;
        width: 47%;
        display: flex;
        justify-content: center;
        height: 4vh;
        button{
            margin: auto;
            width: 100px;
        }
    }
    .cadre3d{
        display: flex;
        margin:auto;
        border:1px solid var(--thema-darkest);        
        canvas{
            background-image: url('../assets/3d/background-blur.jpg');
            background-position: center;
            background-size:cover;
            margin:0.25rem;
        }
    }
}