.footer{
    height:15vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--thema-transp);
    background-image: url('../assets/3d/background-blur-3.jpg');
    background-blend-mode: color-burn;
    background-size: cover;
    opacity: 0.96;
    box-shadow:0px 1px 1px var(--thema-dark-transp) inset;
    pointer-events: none;
    background-position-y:100%;
    background-repeat: no-repeat;
    .menu-footer, .copyright{
        // border:1px solid red;
        display: flex;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-family: var(--font-normal);
        ul{
            display: flex;
            width: 50%;
            justify-content: space-between;
            list-style: none;
            align-items: center;
            padding:0;
            height: 100%;
            // border:1px solid red;
        }
    }
}



.menu-footer ul li{
    display: flex;
    width: 25%;
    height: 100%;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    // border:1px solid blue;
    a{
        display: flex;
        // border:4px solid #fff;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color:var(--thema-darkest);
        text-decoration: none;
        font-size: 0.92rem;
        transition: 0.4s;
        font-family: var(--font-contrail);
        text-transform: uppercase;
        &:hover{
                cursor: pointer;
                background-color: var(--thema-white);
        }
    }
    .active{
        background-color: var(--thema-white);
        // color:var(--thema-white);
    }
}

.copyright{
    color: var(--thema-darkest);
}


.footer .menu-footer{
    display: none;
}