.heading1, .heading2,.heading3, .heading4{
    margin:1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:0.2rem;
    border:2px solid var(--thema-dark-transp);
    // text-transform: capitalize;
    // background-color: var(--thema-dark-transp);
    font-size:1.2rem;
    opacity: 0.84;
    letter-spacing: 0.03rem;    
    font-family: var(--font-normal);
    color:var(--thema-darker);
    font-weight: normal;
}

.paraContent .heading3{
    text-transform: uppercase;
}

.heading1{
    border:unset;
    margin: initial;
}

.heading2{
    font-size:1.24rem;
    color:var(--thema-darkest);
    justify-content: center;
    padding-top:0.16rem;
    text-transform: uppercase;
    font-family: var(--font-normal);
    opacity: 0.64;
    height: 12vh;
    border: 1px solid var(--thema-darkest);
    border-left: none;
    border-right: none;
}

.heading4{
    font-size:0.78rem;
    color:var(--thema-darkest);
    border:unset;
    opacity: 0.64;
}

.heading3{
    border:1px solid var(--thema-dark-transp);
    padding:unset;
    text-transform: uppercase;
    font-size: 0.92rem;
    height: 8vh;
    letter-spacing: 0.064rem;
}
#carousel4 .pict .classy .heading3,
#carousel5 .pict .classy .heading3,
#carousel6 .pict .classy .heading3,
.contacts .heading3
{
    height: initial;
    font-size: initial;
    text-transform: initial;
}

.heading1{
    font-size: 1.6rem;
    background-color:var(--thema-lightest);
    background-image: url('../assets/elements/background-heading.svg');
    // background-image: url('../assets/elements/texture-dark.jpg');
    background-blend-mode: overlay;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 90%;
    color:var(--thema-darkest);
    font-family: var(--font-contrail);
    // justify-content: flex-start;     
    // text-indent: 0.25rem;
    height: 11.25vh;
    text-transform: uppercase;
    opacity: 1;
}

.divHeading{
    display: flex;
    border:1px solid var(--thema-darker);
    border-radius: 2px;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    h4{
        width: 100%;
        display: flex;
        margin: auto;
        font-size: 1.04rem;
        border:unset;
        height: 96%;   
    }
}


@keyframes switchBg {
    from{
        background-color: #e2fbff;
    }
    25%{
        background-color: #f1e7fb;
    }
    50%{
        background-color: #f1e7fb;
    }
    to{
        background-color: #e2fbff;
    }
}
