

.header{
    height:15vh;
    box-sizing: border-box;
    display: flex;
    background-color: var(--thema-transp);
    // background-color: var(--thema-white);
    background-image: url('../assets/3d/background-blur-3.jpg');
    background-blend-mode: color-burn;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto 200px;
    opacity: 0.96;
    box-shadow:0px -1px 1px var(--thema-dark-transp) inset;
    
    .logo, .zoneTitle{
        height: 100%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }
    .logo{
        width:10%;
        display: flex;
        .myLogo{
            margin:auto;
            width: 96px;
            height: 96px;
            background-color:var(--thema);
            border:8px solid var(--thema-white);
            box-sizing: border-box;
        }
    }
    .zoneTitle{
        width: 50%;
        width: 54%;
        font-size: 3.2rem;
        font-family:var(--font-spectral);
        color: var(--thema-dark-transp);
        text-transform: uppercase;
        justify-content: center;
        letter-spacing: -0.1rem;
        opacity: 0.84;
        text-align: center;
        transition-property:all;
        transition-duration: 1s;
        text-shadow: 0px 0px 1px var(--thema-transp);
        -webkit-text-stroke-color: var(--thema-darker);
        -webkit-text-fill-color: var(--thema-transp);
        -webkit-text-stroke-width: 0.06rem;
        background-image: url("../assets/elements/heading.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 62%;
        pointer-events: none;
    }
    .menu{
        width: 50%;
        display: flex;
        ul{
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            list-style-type: none;
            // transform:skew(-8deg);
            li{
                box-sizing: border-box;
                height: 100%;
                margin:$margin;
                opacity: 1;
                transition: 0.5s;
                border:1px solid transparent;
                &:hover{
                    border:1px solid var(--thema-dark-transp);
                }
                .active{
                    color:var(--thema-dark);
                    transition: 0.4s;
                    &:hover{
                        color:var(--thema-darkest);
                    }
                }
                a{
                    background-color:#dafeff64;
                    display: flex;
                    font-family: var(--font-normal);
                    text-transform: capitalize;
                    font-size: 0.96rem;
                    letter-spacing: $letter-spacing-m;
                    align-items: center;
                    justify-content: center;
                    color:#113c4ed4;
                    text-decoration: none;  
                    width: 148px;
                    height: 100%;
                    transition: all 0.8s;
                    &:hover{
                        cursor: pointer;
                        // text-decoration: underline;
                        text-underline-offset: 0.5rem;
                        color:var(--thema-darkest);
                        // text-shadow: 0px 0px 1px var(--thema-darkest);
                    }
                }
            }
        }
    }
    
}



.normal-header{
    background-color: var(--thema-dark);
}

.light{
    background-color: var(--thema-light)!important;
}

.texture-header{
    background-image: url('../assets/textures/dark-leather.png')!important;
    background-blend-mode: color-burn!important;
    background-color: var(--thema-dark);
}

.color-header{
    background-image: url('../assets/textures/bright-squares.png')!important;
    background-blend-mode:difference !important;
    background-color: var(--thema);
}   

.header .menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    ul{
        width: 444px;
        overflow: hidden;
        // border:2px solid darkviolet;
        justify-content: space-evenly;
        padding-inline-start: unset;
        margin-block-start: unset;
        margin-block-end: unset;
        li{
            width: 100%;
            transition:0.5s;
            opacity: 0.8;
            height: 36%;
        }
    }
}

.rightArrow, .leftArrow{
    margin:auto 0.5rem;
    // margin-top:3%;
    width: 32px;
    height: 32px;
    background-color: unset;
    background:center no-repeat;
    background-size: 100%;
    border:unset;
    opacity: 0.25;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        opacity: 0.32;
        transform:scale(1.24);
    }
}

.rightArrow{
    background-image: url('../assets/icons/icon-next.svg');
    
}
.leftArrow{
    background-image:url('../assets/icons/icon-next.svg');
    transform: scale(-1);
    &:hover{
        transform: scale(-1.2);
    }
}

