.header{
    height:15vh;
    box-sizing: border-box;
    display: flex;
    background-color: var(--thema-lightest);
    background-image: url('../assets/textures/cubes.png');
    background-blend-mode: darken;
    opacity: 0.86;
    .logo, .zoneTitle{
        height: 100%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }
    .logo{
        width:10%;
        display: flex;
        .myLogo{
            margin:auto;
            width: 96px;
            height: 96px;
            background-color:var(--thema);
            border:8px solid var(--thema-white);
            box-sizing: border-box;
        }
    }
    .zoneTitle{
        width: 40%;
        font-size: 2.4rem;
        font-family: var(--font-spectral);
        font-weight: normal;
        text-transform: uppercase;
        justify-content: center;
        letter-spacing: -0.06rem;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0.084rem;
        pointer-events:visibleStroke;
        opacity: 0.84;
        background-image:url('../assets/elements/logo-title.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        text-align: center;
        color: var(--thema-darkest);
        transition-property:all;
        transition-duration: 1s;
        &:hover{
            -webkit-text-fill-color: var(--thema-transp);
            // -webkit-text-stroke-width: 0.12rem;
            letter-spacing: 0.064rem;
            -webkit-text-stroke-color: var(--thema-darker);
        }
        &:hover ::after{
            // color:#ff7e33!important;
            color:#951cdb!important;
            transform: translate(50px);
        }
    }
    .menu{
        width: 50%;
        display: flex;
        ul{
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            list-style-type: none;
            li{
                // border:1px solid black;
                box-sizing: border-box;
                height: 100%;
                .active{
                    border-left:10px solid var(--thema-white);
                    border-right:10px solid var(--thema-white);
                    background-color: var(--thema-white);
                    color:var(--thema-darker);
                }
                a{
                    display: flex;
                    font-family: var(--font-contrail);
                    text-transform: uppercase;
                    font-size: 1.16rem;
                    letter-spacing: 0.05rem;
                    // font-weight: 600;
                    align-items: center;
                    justify-content: center;
                    color:var(--thema-darkest);
                    text-decoration: none;  
                    width: 148px;
                    height: 100%;
                    border-left:10px solid transparent;
                    border-right:10px solid transparent;
                    transition: 0.5s;
                    &:hover{
                        cursor: pointer;
                        background-color: var(--thema-white);
                        border-left:10px solid var(--thema-white);
                        border-right:10px solid var(--thema-white);
                    }
                }
            }
        }
    }
    
}


.header .zoneTitle > span:nth-child(1){
    &::first-letter{
        // color:red;
        font-size:5rem!important;
    }
    &::after{
        content:'développeur web';
        font-size: 1.24rem;
        position: absolute;
        top:5.6rem;
        margin-left:-9%;
        color:var(--thema-darkest);
        font-weight: bolder;
        letter-spacing: 0.025rem;
        -webkit-text-fill-color: initial;
        -webkit-text-stroke-width: initial;
        transition:1.6s;
        
    }
}

.normal-header{
    background-color: var(--thema-dark);
}

.light{
    background-color: var(--thema-light)!important;
}

.texture-header{
    background-image: url('../assets/textures/dark-leather.png')!important;
    background-blend-mode: color-burn!important;
    background-color: var(--thema-dark);
}

.color-header{
    background-image: url('../assets/textures/bright-squares.png')!important;
    background-blend-mode:difference !important;
    background-color: var(--thema);
}   