.section{
    display: flex;
    // flex-direction: row-reverse;
    width: 960px;
    flex-wrap: wrap;
    .frame-3{
        // position: absolute;
        display: flex;
        width: 64%;
        // border:2px solid greenyellow;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        margin:auto;
        padding:0.5rem;
        margin-top: -10.25%;
        font-family: var(--font-normal);
        // background-color:var(--thema-white);
        .under-frame{
            // background-color:#fffc;
            box-sizing: border-box;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            border:8px solid var(--thema-dark-transp);
            padding:1rem;
            margin:0.5rem;
            #next,#prev{
                cursor: pointer;
                background:unset;
                border:unset;
                background-image: url('../assets/elements/next-button.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 22px;
                height: 22px;
                transition: 0.25s;
                &:hover{
                    transform: scale(1.2);
                }
            }
            #prev{
                background-image: url('../assets/elements/prev-button.svg');
            }
        }
    }
}
.frame-1,.frame-2{
    width: 480px;
    height: 480px;
    border:1px solid var(--thema-dark-transp);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame-1{
    border-right:0px solid var(--thema-dark-transp);
    padding:0.5rem;
    .picture{
        cursor: pointer;
    }
}
.frame-2{
    border-left:0px solid var(--thema-dark-transp);
    font-family: var(--font-normal);
    display: flex;
    .under{
        // background-image: url('../assets/textures/fabric-dark.png');
        // border:1px solid var(--thema-dark-transp);
        width: 100%;
        height:100%;
        box-sizing: border-box;
        display: flex;
        .under-frame{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // border:2px solid red;
            height: 80%;
            width: 80%;
            margin: auto;
            h4, p{
                display: flex;
                width: 92%;
                color:var(--thema-darkest);
                margin:2rem;
            }
            h4{
                display: flex;
                align-items: center;
                font-family: var(--font-zilla);
                text-transform: uppercase;
                font-size: 1.4rem;
                font-style: italic;
                font-weight: normal;
                height: 20%;
                color: var(--thema-darkest);
                opacity: 0.92;
                letter-spacing: 0.045rem;
            }
            p{
                // border:2px solid green;
                padding:0.25rem;
                text-align: justify;
                font-size:15px;
                // font-style: italic;
                height: 80%;
            }
        }
    }
}


.picture{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    // border:1px solid var(--thema-dark-transp);
    .under{
        display: flex;
        margin: auto;
        width: 100%;
        height: 100%;   
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }
}

.frame-3{
    z-index: 50;
    .under-frame #auto{
        border:unset;
        background:unset;
        width: 26px;
        height: 26px;
        background-image:url('../assets/elements/stop-button.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: 0.5s;

    }
}

.frame-3 .under-frame #auto:hover{
    background-image:url('../assets/elements/stop-button-hover.svg');
}

.bullet{
    display: flex;
    border:4px double var(--thema-darkest);
    opacity: 0.72;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    justify-content: center;
    align-items: center;
}

.bullet-active{
    display: flex;
    background-color:var(--thema-white);
    // border:unset;
    opacity: 0.92;
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
}


.shadowed{
    box-shadow: 0px 0px 1px var(--thema-dark) inset,
    1px 1px 2px var(--thema-dark) inset,
    -1px -1px 2px var(--thema-dark) inset;
}

.shadowed2{
    box-shadow: 
    0px 0px 1px var(--thema-darkest) inset,
    0px 0px 1px var(--thema-darkest) inset,
    0px 0px 2px var(--thema-darkest) inset;
}

.classy{
    background-image: url('../assets/textures/triangles.png');
    background-color: var(--thema-lightest);
    background-blend-mode: color-burn;
    background-size: auto;
}

.lightest{
    background-color: var(--thema-lightest);
}

.white{
    background-color: var(--thema-white);
}


.myBox{
    width: 76%;
    min-height: 76%;
    max-height: 76%;

    height: auto;
    position: absolute;
    top:12%;
    left:12%;
    z-index: 9999;
    background-color: var(--thema-white);
    display:flex;
    animation:scaleXY 0.8s linear forwards;
    border:1px solid var(--thema-dark-transp);
    flex-direction: column;
    padding:0.2rem;
    box-sizing: border-box;
    overflow-y: scroll;
    .myBar{
        display: flex;
        box-sizing: border-box;
        background-color: var(--thema-white);
        width: 100%;
        justify-content: space-between;
        .myH4{
            text-transform: uppercase;
            display: flex;
            align-items: center;
            padding-bottom: 0.1rem;
            text-indent: 0.25rem;
            letter-spacing: 0.06rem;
            justify-content: center;
            font-family: var(--font-normal);
            font-weight: normal;
            color:var(--thema-darkest);
        }
        .divOptions{
            .myCross, .zoomIn, .zoomOut{
                height: 24px;
                width: 24px;
                border:unset;
                background:var(--thema-dark-transp);
                background-image: url('../assets/elements/white-cross.svg');
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            .zoomIn{
                background-image: url('../assets/icons/icon-plus.svg');
                background-size: contain;
            }
            .zoomOut{
                background-image: url('../assets/icons/icon-minus.svg');
                background-size: contain;
            }
        }
    }
    img{

        display: flex;
        justify-content: center;
        margin: auto;
        width: 60%;
        height: auto;
        box-sizing: border-box;
    }
}

.thumbnails{
    display: flex;
    // width: 100vw;  
    // flex-direction: column;
}


//golden css code
//pour les prochains sites code réutilisable
//keyword 
//fadeOut
//fadeIn 

.fadeIn{
    transition: 0.05s;
    animation:fadeIn 1s linear forwards;
}

.fadeOut{
    animation:fadeOut 1s linear forwards;
}




@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;

    }
}

@keyframes scaleXY {
    from{
        transform: scaleX(0) scaleY(0);
    }
    50%{
        transform: scaleX(1) scaleY(0.01);
    }
    to{
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;

    }
}

