@media screen and (max-width:640px) {

    // body

    .responsiveB{
        height: 100%;
        // max-height: 100vh;
        // overflow: hidden;
    }


    // header
    .responsiveB .header{
        height: 11.25vh;
        display: flex;
        width: 100%;
        box-shadow: initial;
    }
    
    .responsiveB .header .zoneTitle{
        font-size: 1.2rem;
        display: flex;
        // border:2px solid blue;
        box-sizing: border-box;
        width: 100%;
        background-size: contain;
        background-position-x: 32%;
        text-align: center;
        margin-block-end: 0;
        margin-block-start: 0;
        background-image:url('../assets/elements/logo-title-resp.svg')!important;
        background-position: center;
        background-repeat: no-repeat;
        span:nth-child(1)::after
        {
            content:unset;
            display: none;

        }
        span{
            display: contents;
        }
    }
    .header .logo{
        // border:2px solid red;
        display: flex;
        justify-content: start;
        align-items: initial;
        width: min-content;
        height: 100%;
        .myLogo{
            width: 11.25vh;
            height: 11.25vh;
        }
    }

    // params

    .responsiveB .presentation .divParam{
        position: fixed;
        top:0;
        left:0;
        width: auto;
        height: auto;
        background-color: var(--thema-lightest);
        box-sizing: border-box;
        display: flex;
        margin:initial;
        border:1px solid var(--thema-dark-transp);
        // flex-direction: initial;
        opacity: 0.64;
        .logoFrame{
            display: flex;
            justify-content: center;
            // border:2px solid red!important;
            width: 24px;
            height: 24px;
            // border: 6px solid #fff;
            .logoParam{
                box-sizing: border-box;
                margin: auto;
                width: 24px;
                height: 24px;

            }
        }
        #params{
            z-index: 9999;
            max-height: initial;
            width: 100%;
            .headingMenu{
                width: auto;
                margin: initial;
            }
            .form{
                overflow-y: auto;
                width: auto;
            }    
        }
    }

    .header .zoneTitle{
        -webkit-text-fill-color: var(--thema-darkest);
        opacity: 0.68;
        -webkit-text-stroke-width: initial;
        font-weight: bolder;
        span:nth-child(2)::after{
            display: none;  
        } 
    }

    // main

    .responsiveB{
        .myBox{
            // border:4px solid red;
            width: 100%;
            height: 100%;
            top:60%;
            left:0%;
            box-sizing: border-box;
            img{
                max-width: 98vw;
                flex-basis: unset;
                box-sizing: border-box;
                height: auto;
            }
        }
        main{
        min-height: 88.75vh;
        height: auto;
        overflow: hidden;
            .section-main{
                margin: initial!important;
                border:unset!important; 
                .section{
                    width: 100vw;
                    max-width: 100vw;
                    height: 100%;
                    padding:1.5%;
                    #next,#prev{
                        position: absolute;
                        z-index: 50;
                        top:68%;
                        right:1.5%;
                        cursor: pointer;
                        background:unset;
                        background-color:var(--thema-white);
                        border:unset;
                        background-image: url('../assets/icons/icon-next.svg');
                        background-position-x: center;
                        background-position-y: center;
                        background-repeat: no-repeat;
                        background-size: 92%;
                        width: 24px;
                        height: 48px;
                        transition: 0.25s;
                        opacity: 0.92;
                    }
                    #next{
                        border-right:0px;
                    }
                    #prev{
                        background-image: url('../assets/icons/icon-next.svg');
                        left:1.5%;
                        border-left: 0px;
                        transform: scale(-1);
                    }
                    .frame-1, .frame-2{
                        width: 100%;
                        border:unset;
                        border-right:unset;
                        border-left:unset;
                    }
                    .frame-1{
                        height: 64%;
                        padding:initial;
                        .picture{
                            height: 98%;
                            border:2px solid var(--thema-dark-transp);
                        }
                    }
                    .frame-2{
                        height: 30%;
                        .under{
                            height: 100%;
                            // border:unset;
                            border-width: 2px;
                        }
                        .under-frame{
                            width: unset;
                            justify-content: space-evenly;
                            height: 100%;
                            h4, p{
                                margin: initial;
                                height: auto;
                                font-size: 0.84rem;
                            }
                            h4{
                                font-size: 0.92rem;
                            }
                            p{
                                color:var(--thema-darkest);
                                opacity: 0.8;
                            }
                        }
                    }
                    .frame-3{
                        width: 100%;
                        position: relative;
                        left: 0%;
                        bottom: 0%;
                        // margin-top: unset;
                            .under-frame{
                            width: 100%;
                            // border:6px solid #fff;
                            padding:unset;
                            #auto,#prev,#next{
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            } 
        }
    }

    .responsiveB .frame30 h4,
    .responsiveB .frame24 p,
    .responsiveB .frame24 h4,
    .responsiveB .frame24-reverse h4,
    .responsiveB .frame24-reverse p{
        color:#18475Ac8;
    }

    // footer

    .responsiveB footer{
        height:11.25vh;
        max-height: 11.25vh;
        max-width: 100vw;
    }

    .responsiveB footer .menu-footer ul{
        margin-block-end: 0;
        margin-block-start: 0;
        padding-inline-start: 0;
        li{
            border:2px solid #fff;
            width: 24%;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                padding:0.16rem;
                font-size: 0.8rem;
            }
        } 
    }



}
